version: '3.8'

services:
  flask-app:
    build: .
    ports:
      - "8123:8123"
    volumes:
      - .:/app 
    environment:
      - FLASK_APP=app.py
      - FLASK_RUN_HOST=0.0.0.0
    command: flask run
    restart: always
